<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>GhiChu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
  <% include ../public/css/fabric.min.css %>
  <% include ../public/css/fabric.components.min.css %>
  <% include ../public/css/styles.css %>
  </style>
  <script>
  <% include ../public/app/azAppInsights.js %>
  <% include ../public/socket.io/socket.io.js %>
  <% include ../public/app/lib/angular.min.js %>
  <% include ../public/app/lib/socket.js %>
  <% include ../public/app/lib/angular-sanitize.min.js %>
  <% include ../public/app/lib/angular-animate.min.js %>
  <% include ../public/app/lib/ngOfficeUiFabric.min.js %>
  <% include ../public/app/app.js %>
  <% include ../public/app/GhichuCtrl.js %>
  </script>
</head>
<body  ng-controller="GhichuCtrl">